<h2>Index</h2>

<button class="refresh">Refresh</button>
<ul>
  <% todos.each(function (todo) { %>
    <!--
        don't use `get` to insert un-escaped user generated content
      -->
    <li>
      <a href="#/todos/<%= todo.id %>">
        <%= todo.get("title") %>
      </a>
    </li>
  <% }); %>
</ul>

<a href="#/todos/new">New Todo</a>